<!DOCTYPE html>
<html lang="en" xmlns:sec="">
<head>
  <meta charset="utf-8">
  <title>Event Booking page - Welcome and choose an Event</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">
    body {
      width: 800px;
      margin: auto;
    }
  </style>
</head>
<body>
<header>
  <h1>Welcome to our Event Booking App</h1>
</header>
<main>
  <h2>Search an event:</h2>
  <form th:method="GET" th:action="@{/events/events-list}">
    <label for="search">By Event Name:</label>
    <input type="text" name="searchName" id="search" placeholder="Search an event">
    <br/>
    <label for="minRating">By Minimum Event Rating (0.00 - 10.00): </label>
    <input type="number" name="minRating" id="minRating" min="0" max="10" placeholder="Min Rating">
    <br/>
    <input type="submit" value="Submit">
  </form>

  <h2>Filter by Location:</h2>
  <form th:method="GET" th:action="@{/events/events-list/by-location}">
    <select name="locationId" class="form-control">
      <option th:each="location : ${locations}"
              th:value="${location.id}"
              th:text="${location.name}">
      </option>
    </select>
    <button type="submit">Filter</button>
  </form>

  <form id="mainForm" th:method="POST" th:action="@{/servlet/events/event-booking}">
    <h2>Choose an event:</h2>
    <div th:if="${events != null}">
      <div th:each="event : ${events}">
        <input type="radio" th:id="${event.getId()}" name="rad" th:value="${event.name}" />
        <label th:for="${event.getId()}">
          Name: <th:block th:text="${event.getName()}"></th:block>,
          Description: <th:block th:text="${event.getDescription()}"></th:block>,
          Rating: <th:block th:text="${event.getPopularityScore()}"></th:block>
          Location: <th:block th:if="${event.location != null}" th:text="${event.location.name}"></th:block>
        </label>
        <br>
        <th:block sec:authorize="hasRole('ADMIN')">
          <a th:href="@{'/events/events-list/edit-form/{id}' (id=${event.getId()})}" class="btn btn-sm btn-info edit-event ml-2">
            <i class="fa fa-edit">Edit</i>
          </a>
        </th:block>
        <a th:href="@{'/events/events-list/event-details/{id}' (id=${event.getId()})}" class="btn btn-sm btn-info edit-event">
          <i class="fa fa-edit">Details</i>
        </a>
        <br/>
        <br/>
      </div>
    </div>
    <div th:if="${events == null}">
      <p>No events available.</p>
    </div>

    <th:block sec:authorize="hasRole('ADMIN')">
      <a href="/events/events-list/add-form" class="btn btn-block btn-dark add-product-btn">
        Add new event
      </a>
    </th:block>
    <br>
    <br>
    <h2>Choose number of tickets:</h2>
    <input type="number" name="numTickets" min="1" max="10"><br/>
    <br/>
    <input type="submit" value="Submit">
  </form>
</main>
</body>
</html>